.menu{
    background-color: var(--color-texto3);
    height: 2rem;
    width: auto;
}
a{
    text-decoration: none;
    color: var(--color-texto2);
    margin-left: 0.5rem;
    font-size: 1.5rem;
}
.e{
    text-align: center;
    font-size: 3rem;
}
.g{
    text-align: center;
    font-size: 1.5rem;
}
.co{
    background-color: var(--color-texto1);
    width: auto;
    height: 20rem;
}
footer{
    height: 15rem;
    width: auto;
    margin-top: 1rem;

    background-color: var(--color-texto5);

    display: flex;
    flex-direction: row;

}
.fin{
    margin-top: 2rem;
    margin-left: 2rem;
    height: 6rem;
    width: 32rem;
    background-color: var(--color-texto8);
}
footer h3{
    margin-top: 6rem;
    margin-left: 0.5rem;
}