.menu{
    background-color: black;
    height: 2rem;
    width: auto;
}
a{
    text-decoration: none;
    color: red;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}
/*Imagen de arriba*/
.cara{
    width: auto;
    height: 26rem;
    background-color: cyan;
}
.pizza{
    height: 25rem;
    width: 37.5rem;  
}
/*Posicion de los elemnete encima de la imagen*/
.cara h1{
    position: absolute;
    margin-top: 5rem;
    font-size: 5rem;
}
.cara p{
    margin-top: 12rem;
    margin-left: 1rem;
    position: absolute;
}
.U{
text-align: center;
margin: 2rem;
}
.none{
    background-color: blue;
    width: auto;
    height: 20rem;
}
.w{
    margin-left: 1rem;
    font-size: 2rem;
}
.q{
    margin-left: 1rem;
    font-size: 1rem;
    margin: 1rem;
}
footer{
    height: 15rem;
    width: auto;
    margin-top: 1rem;

    background-color: rgb(206, 118, 118);

    display: flex;
    flex-direction: row;

}
.fin{
    margin-top: 2rem;
    margin-left: 2rem;
    height: 6rem;
    width: 8rem;
    background-color: chartreuse;
}
footer h3{
    margin-top: 6rem;
    margin-left: 2rem;

}